# Git will automatically manage line endings for you if you set the core.autocrlf option.
# On Windows, you will want to use true for this setting. In combination with this 
# .gitattributes file, line endings will be functioal across platforms
#
#
# On Windows:
# git config --global core.autocrlf true

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text
*.html text
*.java text
*.js text
*.json text
*.jsp text
*.txt text
*.xml text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
